h2 {
    padding-left: 20px;
    padding-block: 10px;
    text-align: left;
}

.daraform {
    display: grid;
    grid-template-columns: 0.5fr;
    padding-left: 10px;
}

.reg {
    display: grid;
    grid-template-columns: 0.5fr;
    align-self: end;
    padding-left: 10px;
}

.mat-toolbar {
    background-color: #757575;
    color: white;
}