<h2 mat-dialog-title>Sign In</h2>
<div mat-dialog-content>
    <form [formGroup]="loginForm">
        <div class="daraform">
            <mat-form-field>
                <mat-label>EMAIL / USERNAME</mat-label>
                <input matInput formControlName="user">
                <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="email.hasError('email')">Email is invalid</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>PASSWORD</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="password.hasError('required')">Email is required</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="reg">
    <button mat-flat-button [disabled]=" loginForm.invalid" (click)="onLogin()">Sign In</button>
</div>