<h2 mat-dialog-title>Welcome!</h2>
<div mat-dialog-content>
    <form [formGroup]="registerForm">
        <div class="daraform">
            <mat-form-field>
                <mat-label>Enter name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter your email address</mat-label>
                <input matInput formControlName="user">
                <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="email.hasError('email')">Email is invalid</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Enter password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="password.hasError('required')">Email is required</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions class="reg">
    <button mat-flat-button [disabled]="registerForm.invalid" (click)="onRegister()" color="primary">Register</button>
</div>