h2 {
    padding-left: 20px;
    padding-block: 10px;
    text-align: left;
}

$breakpoint-laptop: 925px;

.daraform {
    --_field-size: var(--fild-size, 0.5fr);

    display: grid;
    grid-template-columns: var(--_field-size);
    padding-inline: 10px;

    @media(max-width: $breakpoint-laptop) {
        --fild-size: 1fr;
    }
}

.reg {
    --_field-size: var(--fild-size, 0.5fr);

    display: grid;
    grid-template-columns: var(--_field-size);
    align-self: end;
    padding-inline: 10px;

    @media(max-width: $breakpoint-laptop) {
        --fild-size: 1fr;
    }
}