h2 {
    padding-left: 20px;
    padding-block: 10px;
    text-align: left;
}

$braekpoint-mobile: 700px;

.card {
    --_align-items: var(--align-items, flex-start);
    --_padding: var(--padding, 20px);
    --_justify-content: var(--justify-content, space-around);
    --_display: var(--display, flex);

    display: var(--_display);
    flex-wrap: wrap;

    padding-inline: var(--_padding);
    justify-content: var(--_justify-content);
    align-items: var(--_align-items);

    gap: var(--_padding);
    background-color: var(--md-sys-color-surface-variant); //--md-sys-color-surface-container); //azure;

    @media(max-width: $braekpoint-mobile) {
        --align-items: flex-start;
        --padding: 10px;
        --justify-content: flex-start;
        --display: grid;
    }
}