h2 {
    padding-left: 20px;
    padding-block: 10px;
    padding-left: 10px;
    text-align: left;
}

.card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    background-color: azure;
    height: 30px;
    padding-inline: 10px;
    align-content: center;
    gap: 20px;

    &__author {
        font-size: 12pt;
        font-weight: 600;
        line-height: 20pt;
    }

    &__title {
        font-size: 12pt;
        font-weight: 600;
        line-height: 20pt;
    }
}