.card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding-inline: 10px;
    padding-block: 5px;

    &__author {
        font-size: 12pt;
        font-weight: 400;
        line-height: 20pt;
    }

    &__title {
        font-size: 14pt;
        font-weight: 400;
        line-height: 20pt;
    }
}