$braekpoint-mobile: 700px;

.example-card {
    --_max-width: var(--max-width, 300px);

    max-width: var(--_max-width);

    @media(max-width: $braekpoint-mobile) {
        --max-width: 700px;
    }
}

.example-header-image {
    background-image: url('../../assets/images/author.jpg');
    background-size: cover;
}

.mat-mdc-card-content {
    padding-top: 10px;
    height: 80px;
    overflow: hidden;
}

.mat-mdc-card {
    background: var(--md-sys-color-surface-container);
}

@media(max-width: $braekpoint-mobile) {
    img {
        display: none;
    }

    mat-card-actions {
        display: none;
    }
}