<div class="container">
   <nav class="navigation" *ngIf="authService.isAuthorized; else loggedOut">
      <mat-nav-list>
         <a mat-list-item (click)="addBook()">
            <span class="navigation__item__icon">library_add</span>
            <span class="navigation__item__text">Add Book</span>
         </a>

         @for (link of navList; track link) {
         <a mat-list-item [activated]="link.id === activeLink" (click)="activeLink = link.id"
            routerLink="{{ link.route }}">
            <span class="navigation__item__icon">{{ link.icon }}</span>
            <span class="navigation__item__text">{{ link.label }}</span>
         </a>
         }

         <a mat-list-item (click)="logout()">
            <span class="navigation__item__icon">logout</span>
            <span class="navigation__item__text">Sign Out</span>
         </a>
      </mat-nav-list>
   </nav>

   <ng-template #loggedOut>
      <nav class="navigation">
         <mat-nav-list>
            <a mat-list-item routerLink="login" routerLinkActive="active">
               <span class="navigation__item__icon">login</span>
               <span class="navigation__item__text">Login</span>
            </a>
            <a mat-list-item routerLink="register" routerLinkActive="active">
               <span class="navigation__item__icon">person_add</span>
               <span class="navigation__item__text">Register</span>
            </a>
         </mat-nav-list>
      </nav>
   </ng-template>

   <header class="header" *ngIf="authService.isAuthorized">
      <!-- <button mat-flat-button color="primary" (click)="login()">Login</button> -->
      <!-- <button mat-flat-button color="primary" (click)="logout()">Logout</button> -->
      <div>Current user: {{ authService.userName }} </div>
   </header>

   <main class="main">
      <router-outlet></router-outlet>
      <!-- <cm-book-list></cm-book-list> -->
   </main>

   <footer class="footer">
      Course Frontend, vvuri, Tula 2024
   </footer>
</div>