<div class="container">

   <nav class="navigation">
      <mat-nav-list>
         @for (link of navList; track link) {
         <a mat-list-item [activated]="link.id === activeLink" (click)="activeLink = link.id">
            <span class="navigation__item__icon">{{ link.icon }}</span>
            <span class="navigation__item__text">{{ link.label }}</span>
         </a>
         }
      </mat-nav-list>
   </nav>

   <header class="header"></header>

   <main class="main">
      Test page Homework

      @for (book of books; track book) {
      <div>
         <span>{{ book.title }}</span>
         <span>{{ book.author }}</span>
      </div>
      }
   </main>

   <footer class="footer">
      <button mat-raised-button color="primary" (click)="addBook()">Add Book</button>
   </footer>

</div>



<router-outlet></router-outlet>