h2 {
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: left;
}

.inputform {
    display: grid;
    width: 440px;
    grid-template-columns: 1fr;
    padding-inline: 30px;
}

.reg {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    padding-inline: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}