@forward './scss/theme';
@forward './scss/material';

@use './scss/mixins';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@use "scss/mixins/typography";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cm_front_angular-primary: mat.define-palette(mat.$indigo-palette);
$cm_front_angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cm_front_angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cm_front_angular-theme: mat.define-light-theme((color: (primary: $cm_front_angular-primary,
        accent: $cm_front_angular-accent,
        warn: $cm_front_angular-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cm_front_angular-theme);

/* You can add global styles to this file, and also import other style files */

$breakpoint-laptop: 840px;
$braekpoint-mobile: 360px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);

  @include typography.body-medium;
}

.container {
  background: lightgrey;

  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas: "nav header" "nav main" "nav footer";
}

.navigation {
  --_nav-orientation: var(--nav-orientation, column);
  --_item-gap: var(--item-gap, 10px);
  --_line-heigh: var(--line-height, 40px);

  background: var(--md-sys-color-surface);
  padding-top: 10px;
  padding-inline: 5px 5px;
  padding-bottom: 50px;
  grid-area: nav;
  display: flex;
  flex-direction: var(--_nav-orientation);
  gap: 20px;

  @media(max-width: $braekpoint-mobile) {
    --nav-orientation: row;
    --item-gap: 1px;
    --line-height: 32px;
    align-items: center;
  }

  @media(max-width: $breakpoint-laptop) {
    --item-gap: 1px;
    --line-height: 32px;
  }

  &__item {
    --selected: 0;
    --selected-wght: 400;
    --_line-height: var(--line-height, 40px);
    --_is-item-hidden: var(--is-item-hidden, flex);
    --_item-padding-left: var(--item-padding-left, 20px);
    display: flex;
    flex-direction: row;
    gap: var(--_item-gap); //10px;
    padding-left: var(--_item-padding-left);

    &__icon {
      font-family: "Material Symbols Outlined";
      font-variation-settings:
        'FILL' var(--selected),
        'wght' var(--selected-wght),
        'GRAD' 0,
        'opsz' 24;
      font-size: 36px;
      line-height: var(--_line-height);
      color: var(--md-sys-color-on-surface-variant);
    }

    &__text {
      font-family: Roboto;
      font-size: 18px;
      font-weight: var(--selected-wght);
      line-height: var(--_line-height);
      color: var(--md-sys-color-on-surface-variant);
    }
  }

}