<div class="content">
    <h2>Book list settings</h2>
    <form>
        <mat-slider min="2" max="30" step="1" showTickMarks discrete [displayWith]="formatLabel">
            <input matSliderThumb [(ngModel)]="sliderValue" [ngModelOptions]="{ standalone: true }">
        </mat-slider>
        <br>
        <button mat-raised-button color="primary" (click)="onGenerate()">Generate {{ sliderValue }} books</button>
    </form>
    <br>
    <button mat-raised-button color="warn" (click)="onDeleteAll()">Delete All Books</button>
</div>